<div class="copyright wrapper">
  <div id="copyright">
    <p>Copyright &copy; 2007-2010. YARD is written by 
    <a href="http://gnuu.org">Loren Segal</a>. 
    Design by <a href="http://gnuu.org">gnuu.org</a>. 
    YARD uses the MIT License.</p>
  </div>
</div>
