<div class="top wrapper">
  <div id="top">
    <div id="release">
      <p class="version"><strong>Latest Release</strong></p>
      <p class="date"><a href="http://badge.fury.io/rb/yard"><img src="https://badge.fury.io/rb/yard@2x.png" alt="Gem Version" height="18"></a></p>
      <p class="links"><a href="/docs/yard/frames/file/docs/WhatsNew.md">What's New</a> - <a href="/docs/yard/frames/file/README.md">README</a></p>
    </div>
    <!--
    <a href="<%= root_path %>/index.html" id="logo"><img src="http://waiau.wikispaces.com/file/view/pirate.gif/84085425/pirate.gif" height="60" style="position:relative;top:0px;left:260px;"></a>
    <div style="position:absolute;top:60px;margin-left:5px; background: #fff; padding: 4px;"><strong>Yarr!</strong> A Ruby documentation tool!</div>
    -->
    <ul id="nav">
      <li><a href="<%= root_path %>/index.html">Home</a></li>
      <li><a href="<%= root_path %>/features.html">Features</a></li>
      <li><a href="<%= root_path %>/guides/index.html">Guides</a></li>
      <li><a href="http://github.com/lsegal/yard">Source</a></li>
      <li><a href="http://rubydoc.info">RubyDoc.info</a></li>
    </ul>
  </div>
</div>
