<div class="top wrapper">
  <div id="top">
    <div id="release">
      <p class="version">Latest Release: <strong>0.7.1</strong></p>
      <p class="date"><small>Release Date: 5/18/11</small></p>
      <p class="links"><a href="/docs/yard/frames/file/docs/WhatsNew.md">What's New</a> - <a href="/docs/yard/frames/file/README.md">README</a></p>
    </div>
    <a href="<%= root_path %>/index.html" id="logo"></a>
    <ul id="nav">
      <li><a href="<%= root_path %>/index.html">Home</a></li>
      <li><a href="<%= root_path %>/features.html">Features</a></li>
      <li><a href="<%= root_path %>/guides/index.html">Guides</a></li>
      <li><a href="http://github.com/lsegal/yard">Source</a></li>
      <li><a href="http://rubydoc.info">RubyDoc.info</a></li>
    </ul>
  </div>
</div>
